.button {
    width: 100%;
    text-transform: uppercase;
}


:host ::ng-deep .mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #1AAAB2;
  --mdc-protected-button-label-text-color: #fff;
}

:host ::ng-deep .mdc-button__label {
  color: #FFF!important;
}

