  
  <header class="header">
    <div class="header__top">
      <div class="header__profile">
        <img src="./assets/images/avatar.png" alt="user_avatar">
      </div>
  
      <div class="header__actions">
        <a>
          <mat-icon class="material-symbols-outlined">home</mat-icon>
        </a>
        <a>
          <mat-icon class="material-symbols-outlined">visibility</mat-icon>
        </a>
        <a>
          <mat-icon class="material-symbols-outlined" (click)="refreshPage()">repeat</mat-icon>
        </a>
      </div>
    </div>

    <div class="header__navigation">
      <div class="header__action" (click)="handleArrowDrawer()">
        <mat-icon class="header__icon--arrow" [class.header__icon--arrow--right]="!isDrawerOpened">
          arrow_back
        </mat-icon>
        <p class="header__link">
          {{ pageText$ | async }}
        </p>
      </div>
    </div>
</header>