@import 'styles/variables/_breakpoints';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__top {
    padding: 24px 152px;
    background: #21232A;
    display: flex;
    justify-content: space-between;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__navigation {
    border-bottom: 1px solid #E0E0E0;
    margin: 0 150px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    cursor: pointer;
    text-transform: uppercase;
  }
  
  &__icon--arrow {
    cursor: pointer;
    color: #21232A!important;
  }

  &__icon--arrow {
  cursor: pointer;
  color: #21232A !important;
  transition: transform 0.2s ease;

  &--right {
    transform: rotate(180deg);
  }
}

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @media (max-width: @desktop) {
    &__top {
      padding: 16px 24px;
    }

    &__navigation {
      margin: 0px;
      padding: 16px 24px;
    }
  }
  @media (max-width: @tablet) {
    &__top {
      display: none;
    }

    &__navigation {
      margin: 0px;
      padding: 16px 24px;
    }
  }
  @media (max-width: @tablet) {
    &__top {
      display: none;
    }

    &__navigation {
      margin: 0px;
      padding: 16px 24px;
    }
  }
}



:host ::ng-deep .mat-icon {
    color: #FFF;
}


