@import '../../../../styles/mixins/_material-input-reset.less';

:host {
  .material-input-reset();
}

.input {
    width: 100%;
    position: relative;
    &__icon {
        position: absolute;
        right: 4px;
        bottom: 6px;
        color: #464646;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}