<main class="forgot">
  <section class="forgot__container">
    <div class="forgot__panel">
  
      <header class="forgot__logo">
        <img src="/assets/images/logo.png" title="Navega Dashboard" alt="navega_dashboard_logo">
      </header>
  
      <form class="forgot__content" [formGroup]="formForgot" (ngSubmit)="submit()">

        <div class="forgot__header">
          <h2 class="forgot__title">Insira seu CPF ou email para recuperação <br> do acesso.</h2>
          <p class="forgot__text">Precisamos desta confirmação para enviar <br> sua senha.</p>
        </div>
  
        <div class="forgot__window">
          <div class="forgot__fields">
            <app-input 
              icon="check_circle"
              label="Email ou CPF" 
              type="text" 
              formControlName="emailOrCpf">
            </app-input>          
          </div>

          <div class="forgot__actions">
            <app-button text="Acessar" type="submit" [disabled]="!formForgot.valid"></app-button>
            <p>Tem seu acesso? <a class="forgot__link"  routerLink="/login">Clique aqui</a></p>
            <span  class="forgot__subtext">Versão 0.01</span>
          </div>
        </div>
        
      </form>
    </div>
  </section> 

  <section class="forgot__background">
    <app-background></app-background>
  </section>
</main>