<main class="login">
  <section class="login__container">
    <div class="login__panel">
  
      <header class="login__logo">
        <img src="/assets/images/logo.png" title="Navega Dashboard" alt="navega_dashboard_logo">
      </header>
  
      <form class="login__content">

        <div class="login__header">
          <h2 class="login__title">Insira seu CPF ou email para recuperação <br> do acesso.</h2>
          <p class="login__text">Precisamos desta confirmação para enviar <br> sua senha.</p>
        </div>
  
        <div class="login__window">
          <div class="login__fields">
            <app-input type="text" label="Email ou CPF"></app-input>
          </div>

          <div class="login__actions">
            <app-button text="Acessar" type="submit"></app-button>
            <p>Tem seu acesso? <a class="login__link"  routerLink="/login">Clique aqui</a></p>
            <span  class="login__subtext">Versão 0.01</span>
          </div>
        </div>
        
      </form>
    </div>
  </section> 

  <section class="login__background">
    <app-background></app-background>
  </section>
</main>