html, body { height: 100%; margin: 0;}

html, body, h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea {
  font-family: 'Poppins', sans-serif!important;
  color: #464646;
}

h2 {
  font-weight: 600!important;
  font-size: 16px!important;
  text-align: center!important;
  line-height: 125%!important;
  font-weight: 600!important;
  margin: 0!important;
}

p {
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 150%!important;
  letter-spacing: 0%!important;
  margin: 0!important;
}
span {
  font-weight: 400!important;
  font-size: 12px!important;
  line-height: 125%!important;
  letter-spacing: 0%!important;
  margin: 0!important;
}

a {
  color: #1AAAB2;
  cursor: pointer;
  text-decoration: none;
}

html {
  --mdc-filled-text-field-label-text-size: 14px;
  --mdc-filled-text-field-label-text-font: 'Poppins', sans-serif;
  --mat-form-field-container-text-font: 'Montserrat', sans-serif;
  --mat-form-field-container-text-size: 14px;
  --mdc-filled-text-field-focus-label-text-color: #464646;
  --mdc-filled-text-field-label-text-color: #464646;
  --mdc-filled-text-field-focus-bottom-line-color: transparent;
  --mdc-filled-text-field-hover-bottom-line-color: transparent;
  --mat-form-field-focus-overlay-color: transparent;
  --mdc-filled-text-field-focus-active-indicator-color: #464646;
  --mat-toolbar-container-background-color: #21232A;
}
