@import 'styles/mixins/_material-input-reset.less';

:host {
  .material-input-reset();
}

.input-password {
    width: 100%;
    position: relative;
    &__icon {
        position: absolute;
        right: 4px;
        bottom: 6px;
        color: #464646;
    }
}
